__pycache__
.DS_Store
.ipynb_checkpoints
.mypy_cache/
.vscode
*.pyc
venv/

# Build
accern_data.egg-info/
build/
dist/

# Test cases
.pytest_cache/
tests/outputs/
test-results/
test-result-cache/

# Coverage
.coverage
coverage/reports
